.root {
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  border-radius: 0.25rem;
  padding: 0px 0.5rem;
  min-height: 34px;
  border: 1px solid black;
}

.input {
  color: black;
  background-color: transparent;
  outline: 0;
  padding-left: 2px;
  min-width: 10rem;
  border: none;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  margin-left: 0.2rem;
  flex: 1;
  font-size: 20px;
}

.tag {
  display: inline-flex;
  align-items: center;
  color: black;
  margin-right: 0.5rem;
  padding: 0.25rem 0.5rem;
  background-color: #e4e4e4;
}

.delete {
  color: black;
  width: 1rem;
  height: 1rem;
  cursor: pointer;
  margin-left: 0.5rem;
  padding: 0;
  background-color: #d3d3d3;
  border: 1px solid black;
  font-size: 0.5rem;
}